[submodule "thirdparties/fmt"]
	path = thirdparties/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "thirdparties/sqlite3"]
	path = thirdparties/sqlite3
	url = https://github.com/azadkuh/sqlite-amalgamation.git
